@import "../styles/base.module.scss";

.topNavOpen {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 5;
  backdrop-filter: blur(16px);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;

  height: 50px;
  top: 0;
  transition: 1s;

  .titleWrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0;

    margin: 0 8px;

    .title {
      font-weight: bold;
      user-select: none;

      font-size: 1.3rem;
      margin: auto;
    }

    .subTitle {
      user-select: none;
      display: none;

      font-size: 0.7rem;
    }
  }

  @include sh {
    height: 60px;

    .titleWrapper {
      .title {
        font-size: 1.4rem;
        margin: initial;
        margin-right: 12px;
      }

      .subTitle {
        font-size: 0.8rem;
        display: block;
      }
    }
  }

  @include tv {
    height: 60px;
    padding: 0 10%;

    .titleWrapper {
      .title {
        font-size: 1.4rem;
      }

      .subTitle {
        font-size: 0.8rem;
      }
    }
  }

  @include th {
    height: 80px;

    .titleWrapper {
      .title {
        font-size: 2rem;
      }

      .subTitle {
        font-size: 1rem;
      }
    }
  }
}

.topNav {
  top: -60px;
  transition: 1s;

  @include tv {
    top: -60px;
  }

  @include th {
    top: -80px;
  }
}
