@import "../../styles/base.module.scss";

.tech {
  width: 100%;
  padding: 16px 8px;

  .titleWrapper {
    width: 100%;
    height: 60px;
    border: 3px solid $philosophyCol;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 1.8rem;
      font-weight: 500;
      user-select: none;
    }
  }

  .topDescWrapper {
    margin: 8px auto 0;
    background: linear-gradient(45deg, #f2f4f4, #cfcfcf);
    padding: 8px;
    width: 88%;
    border-radius: 4px;

    .topDesc {
      font-size: 0.9rem;
      line-height: 1.5rem;
      user-select: none;
    }
  }

  .contentWrapperOpen {
    position: relative;
    overflow: hidden;
    height: 1070px;

    .logoWrapper {
      width: 180px;
      height: 180px;
      z-index: 10;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.4);

      transition: 0.6s $cubic1;

      .relativeBox {
        position: relative;
        width: 100%;
        height: 100%;

        .html,
        .css,
        .js,
        .web {
          position: absolute;
          font-size: 1.2rem;
          font-weight: 500;
          user-select: none;
        }

        .html,
        .css,
        .js {
          transition: 0.6s $cubic1;
          transition-delay: 0.6s;
        }

        .html {
          top: 30px;
          left: 10px;
          color: #dd4a2d;
        }

        .css {
          top: 70px;
          left: 80px;
          color: #146eb0;
        }

        .js {
          top: 20px;
          left: 130px;
          color: #df9e28;
        }

        .web {
          left: 50%;
          transform: translate(-50%, 0);
          bottom: 16px;
          font-size: 2rem;
          font-weight: 700;
          width: 120px;
          text-align: center;
          transition: 0.6s $cubic1;

          background: linear-gradient(
            45deg,
            rgba(39, 215, 222, 1) 0%,
            rgba(33, 109, 221, 1) 25%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 1) 100%
          );
          background-clip: text;
          color: transparent;
          background-size: 400%;
          background-position: 90% 0%;
        }
      }
    }

    .descWrapper {
      padding: 8px;
      position: absolute;
      top: 32px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 88%;
      height: 1000px;
      background: linear-gradient(
        45deg,
        rgba(39, 215, 222, 1) 0%,
        rgba(33, 109, 221, 1) 100%
      );
      z-index: 6;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;

      transition: 0.6s $cubic1;

      .desc {
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin-top: 220px;
        color: white;

        transition: 0.6s;
        transition-delay: 0.6s;
        user-select: none;
      }
    }
  }

  .contentWrapper {
    .logoWrapper {
      top: 200px;

      transition: 0.4s $cubic1;
      transition-delay: 0.4s;

      .relativeBox {
        .html,
        .css,
        .js {
          opacity: 0;
          top: 180px;
          left: 50%;
          transform: translate(-50%, 0);

          transition: 0.4s $cubic1;
        }

        .web {
          font-size: 3rem;
          bottom: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-position: 10% 0%;

          transition: 0.4s $cubic1;
          transition-delay: 0.4s;
        }
      }
    }

    .descWrapper {
      top: 600px;
      opacity: 0;

      transition: 0.4s $cubic1;
      transition-delay: 0.4s;

      .desc {
        opacity: 0;

        transition: 0.4s;
        transition-delay: 0;
      }
    }
  }

  @include sh {
    .topDescWrapper {
      .topDesc {
        width: 400px;
        margin: auto;
      }
    }

    .contentWrapperOpen {
      .descWrapper {
        .desc {
          width: 90%;
        }
      }
    }
  }

  @include tv {
    display: grid;
    grid-template:
      ".. title   ....... topDesc .." 100px
      ".. ....... ....... ....... .." 8px
      ".. content content content .." 500px
      /1fr 360px 1fr 480px 1fr;

    .titleWrapper {
      grid-area: title;
      width: auto;
      height: initial;
      margin: initial;
    }

    .topDescWrapper {
      grid-area: topDesc;
      width: initial;
      height: initial;
      margin: initial;
      display: flex;
      justify-content: center;
      align-items: center;

      .topDesc {
        font-size: 0.7rem;
        line-height: 1.2rem;
        margin: initial;
      }
    }

    .contentWrapperOpen {
      grid-area: content;
      height: initial;

      .logoWrapper {
        left: 100px;
        top: 50%;
        width: 240px;
        height: 240px;
        transform: translate(0, -50%);
        font-size: 4rem;
        background-position: 90% 0;
        background-color: transparent;

        .relativeBox {
          .html,
          .css,
          .js {
            font-size: 1.2rem;
          }

          .html {
            top: 40px;
            left: 20px;
          }

          .css {
            top: 80px;
            left: 100px;
          }

          .js {
            top: 30px;
            left: 190px;
          }

          .web {
            background-position: 20% 0;
            font-size: 4rem;
            width: 150px;
            bottom: 32px;
          }
        }
      }

      .descWrapper {
        width: 440px;
        height: 440px;
        left: initial;
        right: 16px;
        top: 50%;
        transform: translate(0, -50%);

        .desc {
          margin-top: initial;
          font-size: 0.7rem;
          line-height: 1.2rem;
        }
      }
    }

    .contentWrapper {
      .logoWrapper {
        left: 50%;
        transform: translate(-50%, -50%);

        .relativeBox {
          .html,
          .css,
          .js {
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0);
          }

          .web {
            bottom: 50%;
            transform: translate(-50%, 50%);
          }
        }
      }
    }
  }
}
