@import "../../styles/base.module.scss";

.tech {
  width: 100%;
  background-color: white;

  .titleWrapper {
    height: 60px;
    border: 3px solid $philosophyCol;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;

    .title {
      font-size: 1.8rem;
      font-weight: 500;
      user-select: none;
    }
  }

  .topDescWrapper {
    margin: 8px auto 0;
    background: linear-gradient(45deg, #f2f4f4, #cfcfcf);
    padding: 8px;
    width: 88%;
    border-radius: 4px;

    .topDesc {
      font-size: 0.9rem;
      line-height: 1.5rem;
      user-select: none;
    }
  }

  .contentWrapper {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;

    .techCardOpen {
      position: relative;
      height: 920px;
      width: 88%;
      border-radius: 4px;
      background: linear-gradient(
        45deg,
        rgba(39, 215, 222, 1) 0%,
        rgba(33, 109, 221, 1) 25%,
        #f2f4f4 60%,
        #f2f4f4 100%
      );
      background-size: 400%;
      background-position-x: 10%;

      transition: 0.6s $cubic1;

      .title {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2.8rem;
        font-weight: 700;
        white-space: nowrap;
        background: linear-gradient(
          45deg,
          rgba(39, 215, 222, 1) 0%,
          rgba(33, 109, 221, 1) 25%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 1) 100%
        );
        background-clip: text;
        color: transparent;
        background-size: 400%;
        background-position-x: 90%;

        transition: 0.6s $cubic1;
      }

      .descTop {
        position: absolute;
        top: 130px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.2rem;
        font-weight: 500;
        white-space: nowrap;
        color: white;

        transition: 0.6s $cubic1;
      }

      .desc {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        font-size: 0.9rem;
        line-height: 1.5rem;
        padding: 8px;
        color: white;
        user-select: none;

        transition: 0.6s $cubic1;
      }
    }

    .techCard {
      background-position-x: 90%;
      transition: 0.4s $cubic1;

      .title {
        background-position: 10% 0;
        font-size: 2rem;
        top: 120px;
        transition: 0.4s $cubic1;
      }

      .descTop,
      .desc {
        opacity: 0;
        transition: 0.4s $cubic1;
      }
    }
  }

  .contentWrapperOpen {
    position: relative;
    overflow: hidden;
    height: 1070px;

    .descWrapper {
      padding: 8px;
      position: absolute;
      top: 32px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 88%;
      height: 1000px;
      background: linear-gradient(
        45deg,
        rgba(39, 215, 222, 1) 0%,
        rgba(33, 109, 221, 1) 100%
      );
      z-index: 6;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;

      transition: 0.6s $cubic1;

      .desc {
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin-top: 220px;
        color: white;

        transition: 0.6s;
        transition-delay: 0.6s;
        user-select: none;
      }
    }
  }

  .contentWrapper {
    .logoWrapper {
      top: 200px;

      transition: 0.4s $cubic1;
      transition-delay: 0.4s;

      .relativeBox {
        .html,
        .css,
        .js {
          opacity: 0;
          top: 180px;
          left: 50%;
          transform: translate(-50%, 0);

          transition: 0.4s $cubic1;
        }

        .web {
          font-size: 3rem;
          bottom: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-position: 10% 0%;

          transition: 0.4s $cubic1;
          transition-delay: 0.4s;
        }
      }
    }

    .descWrapper {
      top: 600px;
      opacity: 0;

      transition: 0.4s $cubic1;
      transition-delay: 0.4s;

      .desc {
        opacity: 0;

        transition: 0.4s;
        transition-delay: 0;
      }
    }
  }

  @include sh {
    .topDescWrapper {
      .topDesc {
        width: 400px;
        margin: auto;
      }
    }

    .contentWrapperOpen {
      .descWrapper {
        .desc {
          width: 90%;
        }
      }
    }
  }

  @include tv {
    display: grid;
    grid-template:
      ".. title   title   title   .." 60px
      ".. ....... ....... ....... .." 8px
      ".. topDesc topDesc topDesc .." 140px
      ".. ....... ....... ....... .." 8px
      ".. content content content .." 700px
      /1fr 400px 1fr 400px 1fr;

    .titleWrapper {
      grid-area: title;
      width: auto;
      height: initial;
      margin: initial;
    }

    .topDescWrapper {
      grid-area: topDesc;
      width: initial;
      height: initial;
      margin: initial;
      display: flex;
      justify-content: center;
      align-items: center;

      .topDesc {
        width: initial;
        font-size: 1rem;
        line-height: 1.7rem;
        margin: initial;
      }
    }

    .contentWrapper {
      grid-area: content;
      width: initial;
      height: initial;

      .techCardOpen {
        width: 100%;
        height: 660px;

        .title {
          font-size: 3.2rem;
        }

        .descTop {
          font-size: 1.4rem;
        }

        .desc {
          font-size: 1rem;
          text-align: center;
        }
      }

      .techCard {
        .title {
          font-size: 2.8rem;
        }

        .descTop {
          top: 150px;
        }

        .desc {
          bottom: -20px;
        }
      }
    }
  }

  @include th {
    grid-template:
      ".. title   title   title   .." 60px
      ".. ....... ....... ....... .." 8px
      ".. topDesc topDesc topDesc .." 180px
      ".. ....... ....... ....... .." 8px
      ".. content content content .." 700px
      /2fr 500px 1fr 500px 2fr;

    .contentWrapper {
      .techCardOpen {
        .title {
          left: 80px;
          top: calc(50% - 40px);
          transform: translateY(-50%);
        }

        .descTop {
          left: 80px;
          top: calc(50% + 40px);
          transform: translateY(-50%);
        }

        .desc {
          width: 55%;
          left: initial;
          bottom: initial;
          right: 40px;
          top: 50%;
          transform: translate(0, -50%);
        }
      }

      .techCard {
        .title {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .descTop {
          top: calc(50% + 80px);
        }

        .desc {
          top: calc(50% + 40px);
        }
      }
    }
  }
}
