@import "./base.module.scss";

.msie {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .cautionBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;

    .caution {
      font-size: 2rem;
      font-weight: 700;
      color: red;
      user-select: none;
      animation: cautionAnime 8s ease-in-out;
      animation-iteration-count: infinite;

      @keyframes cautionAnime {
        0% {
          transform: translateY(8px);
        }

        50% {
          transform: translateY(-8px);
        }

        100% {
          transform: translateY(8px);
        }
      }
    }

    .title {
      font-size: 0.8rem;
      font-weight: 600;
      margin-bottom: 8px;
      user-select: none;
    }

    .content {
      font-size: 0.6rem;
      margin: 8px 0;
      user-select: none;
    }

    .btnWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      button {
        margin: 2px 0;
        padding: 12px;
        border: none;
        background-color: #eeeeee;
        border-radius: 4px;
        font-size: 0.9rem;
        font-weight: 500;
        font-family: "Noto Sans JP", sans-serif;
        width: 100%;

        &:hover {
          background-color: #dddddd;
          transition: 0.2s;
        }

        &:active {
          background-color: #eeeeee;
        }
      }
    }
  }

  @include sh {
    .cautionBox {
      width: 450px;

      .caution {
        font-size: 4rem;
      }

      .title {
        font-size: 1.2rem;
      }

      .content {
        font-size: 1rem;
      }

      .btnWrapper {
        button {
          font-size: 1.2rem;
          margin: 4px 0;
        }
      }
    }
  }

  @include tv {
    .cautionBox {
      width: 600px;

      .caution {
        font-size: 5rem;
      }

      .title {
        font-size: 1.6rem;
      }

      .btnWrapper {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        button {
          font-size: 1.4rem;
          width: 280px;
          margin: 8px 8px;
          padding: 12px 16px;
        }
      }
    }
  }
}
